<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM8XKPez1kDXnsYjDoIxYOAT-YzR7hr9o</string>
	<key>GCM_SENDER_ID</key>
	<string>139423131262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellproductform</string>
	<key>PROJECT_ID</key>
	<string>projectsangsang-9289e</string>
	<key>STORAGE_BUCKET</key>
	<string>projectsangsang-9289e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139423131262:ios:eb7f6193158b05a5379a2f</string>
</dict>
</plist>